{% extends "layout.html" %}

{% block title %}Feedback{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Provide Feedback</h1>
      <p class="lead">Like or dislike a feature? Think the site could be better? Tell us about it here.</p>
    </div>
</div>

<div class="alert alert-danger" role="alert">
  <strong>Work in Progress:</strong> This page is still under development. Please come back later.
</div>

{% endblock %}