{% extends "layout.html" %}

{% block title %}
New Model
{% endblock %}

{% block content %}

  <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">New Regression Model</h1>
        <p class="lead">Create a new regression model and select a variety of options. </p>
      </div>
  </div>

  <form action="/upload" method="POST">
    <div class="form-group row">
      <label for="yAxisLabel" class="col-sm-2 col-form-label">Y-Axis Label</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="yAxisLabel" placeholder="Y-Axis">
      </div>
    </div>
    <div class="form-group row">
      <label for="xAxisLabel" class="col-sm-2 col-form-label">X-Axis Label</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="xAxisLabel" placeholder="X-Axis">
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Regression Type</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="modelRadios" id="linearCheck" value="Linear" checked>
            <label class="form-check-label" for="linearCheck">Linear</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="modelRadios" id="exponentialCheck" value="Exponential">
              <label class="form-check-label" for="exponentialCheck">Exponential</label>
            </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <label for="confidenceInterval" class="col-sm-2 col-form-label">Confidence Interval</label>
      <div class="col-sm-10">
        <select id="confidenceInterval" class="form-control">
          <option>85%</option>
          <option>86%</option>
          <option>87%</option>
          <option>88%</option>
          <option>89%</option>
          <option selected>90%</option>
          <option>91%</option>
          <option>92%</option>
          <option>93%</option>
          <option>94%</option>
          <option>95%</option>
          <option>96%</option>
          <option>97%</option>
          <option>98%</option>
          <option>99%</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputFile" class="col-sm-2 col-form-label">Data File</label>
      <div class="col-sm-10">
        <input type="file" class="form-control-file" id="inputFile">
        <p class="text-muted"><small>Allowed file extensions: .csv and .txt</small></p>
      </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
          <button disabled type="submit" class="btn btn-primary btn-block">Create</button>
        </div>
        <div class="col-sm-2">
          <a role="button" class="btn btn-warning btn-block" href="/">Cancel</a>
        </div>
      </div>
  </form>


{% endblock %}